.chooseColor__container {
    margin-top: 60px;
    line-height: 50px;
}

.button__choose {
    background-color: white;
    background-position: 9% center;
    background-repeat: no-repeat;
    width: 253px;
    height: 62px;
    padding: 6px 16px;
    padding-left: 68px;
    cursor: pointer;
    font-size: 16px;
    border: 2px solid #2B4A52;
    border-radius: 15px;
}

.button_red {
    background-image: url("/src/img/calendar/red.svg");
    margin-right: 70px;
}
.button_green {
    background-image: url("/src/img/calendar/green.svg");
}
