label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

label.large {
    font-size: 18px;
    padding-left: 32px;
}

label.medium {
    font-size: 16px;
    padding-left: 27px;
}

label.light--theme {
    color: #2B4A52;
}

label.dark--theme {
    color: #F9F9F9;
}

/* CHECKBOX */

input[type=checkbox] {
    display: none;
}

input[type=checkbox] + label:before {
    content: "";
    display: inline-block;
    border: 2px solid #879C9D;
    border-radius: 33%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
}

input[type=checkbox] + label.large:before {
    height: 24px;
    width: 24px;
}

input[type=checkbox] + label.medium:before {
    height: 20px;
    width: 20px;
}

input[type=checkbox]:disabled + label {
    opacity: .3;
}

input[type=checkbox] + label:after {
    border: 2px solid #F9F9F9;
    border-radius: 10%;
    border-top: none;
    border-right: none;
    content: "";
    left: 6px;
    opacity: 0;
    position: absolute;
    top: 6px;
    transform: rotate(-45deg);
    width: 10px;
    height: 6px;
}

input[type=checkbox] + label.medium:after {
    width: 8px;
    height: 4px;
    left: 5px;
    top: 6px;
}

input[type=checkbox]:checked + label:after {
    opacity: 1;
}

/* CHECKBOX LIGHT */

input[type=checkbox]:checked + label.light--theme:before,
input[type=checkbox]:checked:enabled + label.light--theme:hover:before {
    background-color: #C05640;
    border: 0;
}

input[type=checkbox]:enabled + label.light--theme:hover {
    color: #537173;
}

input[type=checkbox]:enabled + label.light--theme:active,
input[type=checkbox]:enabled + label.light--theme:focus {
    color: #2B4A52;
}

input[type=checkbox]:enabled + label.light--theme:hover:before {
    background-color: #537173;
    border-color: #537173;
    opacity: .9;
}

input[type=checkbox]:checked:enabled + label.light--theme:hover:after {
    border-color: #537173;
}

input[type=checkbox]:enabled + label.light--theme:active:before,
input[type=checkbox]:enabled + label.light--theme:focus:before{
    background-color: #2B4A52;
    border-color: #2B4A52;
}

input[type=checkbox]:checked:enabled + label.light--theme:active:after,
input[type=checkbox]:checked:enabled + label.light--theme:focus:after {
    border-color: #F9F9F9;
}

/* CHECKBOX DARK */

input[type=checkbox]:checked + label.dark--theme:before,
input[type=checkbox]:checked:enabled + label.dark--theme:hover:before {
    background-color: #C05640;
    border: 0;
}

input[type=checkbox]:enabled + label.dark--theme:hover {
    color: #F3EADD;
}

input[type=checkbox]:enabled + label.dark--theme:active,
input[type=checkbox]:enabled + label.dark--theme:focus {
    color: #F9F9F9;
}

input[type=checkbox]:enabled + label.dark--theme:hover:before {
    background-color: #F3EADD;
    border-color: #F3EADD;
}

input[type=checkbox]:checked:enabled + label.dark--theme:hover:after {
    border-color: #F3EADD;
}

input[type=checkbox]:enabled + label.dark--theme:active:before,
input[type=checkbox]:enabled + label.dark--theme:focus:before{
    background-color: #F9F9F9;
    border-color: #F9F9F9;
}

input[type=checkbox]:checked:enabled + label.dark--theme:active:after,
input[type=checkbox]:checked:enabled + label.dark--theme:focus:after {
    border-color: #F9F9F9;
}