.head {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #FDFCFA;
    padding-top: 60px;
    padding-left: 79px;
    padding-bottom: 50px;
}

.answers {
    margin-left: 79px;
}

.answer {
    width: 870px;
    margin-bottom: 50px;
}
