label {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}

label.large {
    font-size: 18px;
    padding-left: 32px;
}

label.medium {
    font-size: 16px;
    padding-left: 27px;
}

label.lightTheme {
    color: #2B4A52;
}

label.darkTheme {
    color: #F9F9F9;
}

/*  RADIO  */

input[type=radio] {
    display: none;
}

input[type=radio] + label:before {
    content: "";
    display: inline-block;
    border: 1px solid #879C9D;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    left: 0;
}

input[type=radio] + label.large:before {
    height: 24px;
    width: 24px;
}

input[type=radio] + label.medium:before {
    height: 20px;
    width: 20px;
}

input[type=radio]:disabled + label {
    opacity: .3;
}

/*  RADIO LIGHT  */

input[type=radio]:enabled + label.lightTheme:hover {
    color: #537173;
}

input[type=radio] + label.lightTheme:hover:before {
    border-color: #537173;
    background-color: #537173;
}

input[type=radio]:checked:enabled + label.large.lightTheme:hover:before {
    border: 8px solid #537173;
    background-color: transparent;
}

input[type=radio]:checked:enabled + label.medium.lightTheme:hover:before {
    border: 6px solid #537173;
    background-color: transparent;
}

input[type=radio] + label.lightTheme:active:before,
input[type=radio] + label.lightTheme:focus:before {
    border-color: #2B4A52;
    background-color: #2B4A52;
}

input[type=radio]:checked:enabled + label.large.lightTheme:active:before,
input[type=radio]:checked + label.large.lightTheme:focus:before {
    border: 8px solid #2B4A52;
    background-color: transparent;
}

input[type=radio]:checked:enabled + label.medium.lightTheme:active:before,
input[type=radio]:checked + label.medium.lightTheme:focus:before {
    border: 6px solid #2B4A52;
    background-color: transparent;
}

input[type=radio]:disabled + label.lightTheme:before {
    opacity: .3;
    background-color: transparent;
    border: 1px solid #879C9D;
}

input[type=radio]:checked + label.large.lightTheme:before {
    border: 8px solid #C05640;
}

input[type=radio]:checked + label.medium.lightTheme:before {
    border: 6px solid #C05640;
}

/*  RADIO DARK  */

input[type=radio]:enabled + label.darkTheme:hover {
    color: #F3EADD;
}

input[type=radio] + label.darkTheme:hover:before {
    border-color: #F3EADD;
    background-color: #F3EADD;
}

input[type=radio]:checked:enabled + label.large.darkTheme:hover:before {
    border: 8px solid #F3EADD;
    background-color: #C05640;
}

input[type=radio]:checked:enabled + label.medium.darkTheme:hover:before {
    border: 6px solid #F3EADD;
    background-color: #C05640;
}

input[type=radio] + label.darkTheme:active:before,
input[type=radio] + label.darkTheme:focus:before {
    border-color: #F9F9F9;
    background-color: #F9F9F9;
}

input[type=radio]:checked:enabled + label.large.darkTheme:active:before,
input[type=radio]:checked + label.large.darkTheme:focus:before {
    border: 8px solid #C05640;
    background-color: #F9F9F9;
}

input[type=radio]:checked:enabled + label.medium.darkTheme:active:before,
input[type=radio]:checked + label.medium.darkTheme:focus:before {
    border: 6px solid #C05640;
    background-color: #F9F9F9;
}

input[type=radio]:disabled + label.darkTheme:before {
    opacity: .3;
    background-color: transparent;
    border: 1px solid #879C9D;
}

input[type=radio]:checked + label.large.darkTheme:before {
    border: 8px solid #C05640;
    background-color: #F9F9F9;
}

input[type=radio]:checked + label.medium.darkTheme:before {
    border: 6px solid #C05640;
    background-color: #F9F9F9;
}
