.main {
    max-width: 100%;
    margin: 0 220px;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.resultWrapper {
    max-width: 710px;
}

.chartWrapper {

}

.main h1 {
    padding: 0;
    margin: 0 0 26px;
}

.main p {
    padding: 0;
    margin: 0 0 40px;
}
